<div class="sqlogin">
  <div class="ui middle aligned center aligned grid">
    <div class="column">
      <h2 class="ui teal image header">
        <img src="../../assets/img/login.png" class="image" height="5%">
        <div class="content">
          Welcome
        </div>
      </h2>
      <form class="ui form">
        <div class="ui stacked segment">
          <div class="field">
            <div class="ui left icon input">
              <i class="user icon"></i>
              <input [(ngModel)]="_email" name="email" type="email" class=" bariolFont" name="email" placeholder="E-mail address">
            </div>
          </div>
          <div class="field">
            <div class="ui left icon input">
              <i class="lock icon"></i>
              <input [(ngModel)]="_password" type="{{_loginpassword}}" name="password" class=" bariolFont" type="password" placeholder="Password">
            </div>
          </div>
          <div class="ui fluid large teal submit button" (click)="login()">Login</div>
        </div>

        <div class="ui error message"></div>

      </form>

      <div class="ui message">
        New to us? <label (click)="register()" class="bariolFont"><span style="color:blue">Sign Up</span></label>
      </div>
    </div>
  </div>
</div>