<div style="margin-left: 29%;">
	<img (click)="onFacebookLoginClick()" alt="" style="width:200px;cursor: pointer;" src="../../assets/img/Fb.png">

	<!-- <button class="btn btn-lg btn-social btn-facebook" style="font-size: 1em;margin-left: 31%;
    background: #1B3568;
    color: white;
    padding: 2%;
    border-color: #1B3568;
    border-radius: 7px;" autologoutlink="true" perms="user_about_me,email" (click)="onFacebookLoginClick()">
	    <i class="fa fa-facebook fa-fw bariolFont"></i>continue using Facebook
	</button> -->
</div>
<div id="emailExistenceModel" class="ui modal" style="width: 23%;max-height:120px;margin: 2% -15% !important;">
  <div class="content">
    <p>User is already registered using this email.</p>
  </div>
  <div class="actions">
    <div class="ui ok button">Ok</div>
  </div>
</div>
